.authPage {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.headings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    font-weight: 900;   
    color: rgb(63, 63, 63);
}

.subheading {
    margin-top: 0.6em;
    margin-bottom: 1em;
    font-weight: 400;
}

.subheading a {
    margin-left: 0.5em;
    cursor: pointer;
    font-weight: 700;
    color: rgb(46, 46, 46);
    text-decoration: 2px underline rgb(46, 46, 46);
}

.form {
    border-radius: 15px;
    color: rgb(46, 46, 46);
}

.content {
    margin: 2em 0;
}

.errorMessage {
    display: flex;
    width: calc(70% - 2em);
    margin: 0 auto;
    padding: 0.5em 1em;
    font-size: 0.84rem;
    font-weight: 500;
    background: rgba(255, 220, 122, 0.212);
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 2.2em auto;
    height: 3.6em;
    border-radius: 8px;
    border: 1px solid rgb(236, 236, 236);
}

.section label,
.section input {
    padding-left: 1.2em;
    cursor: text;
    font-weight: 700;
}

.section label {
    padding-top: 0.5em;
    font-size: 0.75rem;
}

.section input {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: none;
    box-sizing: border-box;
    outline: none;
    height: 100%;
    font-size: 1rem;
}

.password {
    margin-bottom: 1em;
}

.password input {
    letter-spacing: 0.5em;
    font-size: 1.1rem;
}

.forgotPassword {
    display: flex;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
}

.forgotPassword a {
    cursor: pointer;
    font-size: 0.8rem;
    font-weight: 700;
    color: rgb(46, 46, 46);
    text-decoration: 1px underline rgb(46, 46, 46);
}

.inputs {
    height: 50%;
}

.signUpInputs {
    height: 45%;
}

.buttonContainer {
    display: flex;
    justify-content: center;
    height: 25%;
}

.buttonContainer button {
    display: flex;
    margin: 2em 0;
    padding: 0.6em 4em;
    height: 3em;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-family: 'Satoshi', sans-serif;
    font-size: 1rem;
    font-weight: 700;
    background: rgba(17, 114, 204, 0.753);
    color: white;
}

@media(max-width: 518px) {
    .authPage {
        align-items: flex-start;
    }
    
    .heading {
        font-size: 2rem;
    }

    .subheading {
        font-size: 1rem;
    }
    
    .form {
        margin-top: 2.5em;
        width: 100%;
    }

    .section {
        min-width: 300px;
        max-width: 350px;
        width: 80%;
        height: 4em;
    }

    .section label {
        font-size: 0.9rem;
    }

    .section input {
        font-size: 1.1rem;
    }   
}

@media(min-width: 519px) {
    .heading {
        font-size: 2.1rem;
    }

    .subheading {
        font-size: 1.1rem;
    }
    
    .form {
        width: 40%;
        min-width: 480px;
    }

    .section {
        width: 70%;
    }
}

