h1,
h2 {
    margin: 0;
}

.App {
    font-family: 'Satoshi', sans-serif;
    height: 100vh;
    margin: 0;
    overflow: hidden;
}

.loaderParent {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}